<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings configSource="PrivateConfig.config">
    <!--<add key="UserAgentString" value="ProjectDirtbag (By meepster23)"/>
    <add key="BotUsername" value=""/>
    <add key="BotPassword" value=""/>
    <add key="ClientID" value=""/>
    <add key="ClientSecret" value=""/>-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>